.DS_Store
xcuserdata/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
.build/
node_modules/
dist/
.vercel/
.env
.env.*
**/config.local.php
web/public/sms/data/*.json
web/public/sms/data/*.log
*.playground
timeline.xctimeline
playground.xcworkspace
